.chessboard {
  border-spacing: 0;

  &__cell {
    cursor: pointer;
    height: 32px;
    margin: 0;
    text-align: center;
    width: 32px;

    &--light {
      background-color: #FFCE9E;
    }

    &--dark {
      background-color: #D19B47;
    }
  }
}
